* {
  margin: 0;
  padding: 0;
}

.general {
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(0deg, rgb(173, 181, 255), black 88%); */
  background: linear-gradient(0deg, #ee82ee, black 88%);
  /* background: linear-gradient(0deg, #ffa87b, #f35c6e, #5c3e84, #686ee2); */
  /* background: linear-gradient(0deg, #ffff8f, #ec9e69, #d56073, #7a4579); */
  overflow: hidden;
  font-family: Roboto, sans-serif, Arial, Helvetica;
  width: 100vw;
  width: 100dvw;
  height: 800px;
  min-width: 360px;
  max-width: 100%;
  position: relative;
  user-select: none;
  padding: 0 20px 0 20px;
  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  margin: 30px 0 20px 0;
  box-sizing: border-box;
}

.header>div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.unicorn-img {
  width: 90px;
  user-select: all;
}

.title {
  font-family: Pixelify Sans, Arial, Helvetica, sans-serif;
  color: rgb(170, 255, 0);
  font-size: clamp(40px, 5.9svw, 50px);
  text-align: center;
  width: max-content;
  text-shadow: 0 0px 10px rgb(53, 0, 187);
}

.title2 {
  color: azure;
  text-align: center;
  font-size: 26px;
  position: relative;
}

/* .title3 {
  color: white;
  text-align: left;
} */

.main__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.winner__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: clamp(360px, 50vw, 500px);
  height: 77px;
  font-size: 27px;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.7);
  padding-top: 10px;


}

.winner__container__animation {
  animation: anime2 0.2s ease-in-out;
  animation-iteration-count: 11;
}

@keyframes anime2 {
  0% {
    background-color: rgb(170, 255, 0);
  }

  100% {
    background-color: white;
  }
}

.winner__container::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 25px solid;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-30%);
}

.winner__container::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 25px solid;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-30%);
}


.winner-name-animation {
  animation: anime1 0.094s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes anime1 {
  0% {
    transform: translateY(-31px);
  }

  100% {
    transform: translateY(17px);
  }
}

.winner__incription {
  font-size: 16px;
  position: absolute;
  top: 5px;
  left: 10px;
}

.result__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: clamp(360px, 50vw, 500px);
  background-color: white;
  height: 230px;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.7);
  border-radius: 18px;
  box-sizing: border-box;

}

/* .dots-wrapper {
  border-radius: 16px;
  animation: anime5 0.5s;
  animation-iteration-count: 7;
  outline: none;
}

@keyframes anime5 {
  0% {
    outline: 13px violet dotted;
  }

  50% {
    outline: none;
  }

  100% {
    outline: 13px limegreen dotted;
  }
} */

.container__element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(190px, 34vw, 330px);
  height: 230px;
}

.prize-animation {
  animation: anime3 2.3s ease 0s 1 normal forwards;
}

@keyframes anime3 {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

.prize-animation-disappearing {
  animation: anime4 2s ease 0s 1 normal forwards;
}

@keyframes anime4 {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}



.container__img {
  max-height: 90%;
  max-width: 230px;
  opacity: 1;
  transition: 0.5s;
}

.buttons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

.start__btn,
.reset__btn {
  /* width: clamp(160px, 24svw, 210px); */
  padding: 0 20px 0 20px;
  height: 70px;
  border: none;
  font-family: Pixelify Sans, Arial;
  /* background: linear-gradient(20deg, red, lightgreen, rgb(163, 209, 255), rgb(53, 1, 69)); */
  /* background-color: rgb(57, 57, 57); */
  /* background: linear-gradient(45deg, rgb(255, 35, 35), rgb(79, 162, 229), green);*/
  border-radius: 900px;
  background-color: yellowgreen;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  font-size: 25px;
  cursor: pointer;
}

.start__btn {
  /* display: none; */
}

.reset__btn {
  display: none;
  background-color: rgb(249, 47, 47);
  /* width: 100px; */
  /* height: 55px; */
  /* font-size: 23px; */
  /* margin-left: 20px; */
}

.start__btn:active {
  background-color: rgb(135, 185, 36);
}

.reset__btn:active {
  background-color: rgb(202, 21, 21);
}

footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 40px;
  right: 40px;
  color: azure;
  font-family: Pixelify Sans, Arial;
  font-size: 1.4rem;
  box-sizing: border-box;
}

@media (max-width: 584px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
  }

  .winner__container {
    width: clamp(290px, 66vw, 600px);
    font-size: 24px;
  }

  .result__container {
    width: clamp(290px, 66vw, 600px);
  }

  .unicorn-img {
    width: 90px;
  }

  .title {
    font-family: Pixelify Sans;
    font-size: 33px;
    text-align: left;
  }

  .title2 {
    font-size: 18.5px;
  }
}